<%= render 'partials/menu' %>

<h2>Please edit now</h2>


<input type="hidden" value="<%=form_authenticity_token %>" name="authenticity_token" />

<%= form_with model: @question do |f| %>
<ol>
    <li>
        <%= f.text_field :question %>
        <%= f.text_field :answer %>
        <%= f.number_field :points, in: 1.0..10.0, step: 0.5 %>
    </li>
    
  </ol>
  <%= f.submit "Finish Editing" %>
<% end %>

</form>