<%= render "partials/menu" %>
<h2> Round <%= @question.id %> </h2> 
<ol>
    <li>
        <%= @question[:qs1] %>
    </li>
    <li>
        <%= @question[:qs2] %>
    </li>
    <li>
        <%= @question[:qs3] %>
    </li>
    <li>
        <%= @question[:qs4] %>
    </li>
    <li>
        <%= @question[:qs5] %>
    </li>
    <li>
        <%= @question[:qs6] %>
    </li>
    <li>
        <%= @question[:qs7] %>
    </li>
    <li>
        <%= @question[:qs8] %>
    </li>
    <li>
        <%= @question[:qs9] %>
    </li>
    <li> 
        <%= @question[:qs10] %>
    </li>
</ol>
<%= link_to "Edit", edit_question_path(@question) %>